html {
  height: 100%;
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "luna";
}

header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header h1{
  margin-top: -100px;
}

header, header:before{
  background: 50% 50% / cover;
}

header ::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-image: url("XO425Xa.jpg");
  background-size: cover;
  transform-origin: center center;
  transform: translateZ(-1px) scale(2);
  min-height: 100vh;
  z-index: -1;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.overflow-scroll-gradient {
  position: relative;
}
.overflow-scroll-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.001),
    white
  ); /* transparent keyword is broken in Safari */
  pointer-events: none;
}
.overflow-scroll-gradient__scroller {
  overflow-y: scroll;
  background: white;
  width: 240px;
  height: 200px;
  padding: 15px;
  line-height: 1.2;
}